.question, .questionNumber {
  text-align: center;
}

.question {
  font-size: 2em;
  font-weight: 400;
}

.questionNumber {
  font-size: 4em;
  font-weight: 600;
}

.answer {
  margin-left: 0.5em;
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
}

.row {
  padding-top: 35px;
}
