<div style="overflow: hidden">
  <div *ngIf="showQuestions" [@questionAnimation]="animationState" (@questionAnimation.done)="onAnimationDone()">
    <div class="row">
      <div class="col-12 d-flex justify-content-around">
        <div class="questionNumber">Question {{ currentQuestionNumber }} :</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-around">
        <div class="question">{{ currentQuestion?.questionText }}</div>
      </div>
    </div>
    <div class="row" style="padding-top: 15px !important">
      <div class="col-12 d-flex justify-content-around">
        <div class="flex flex-column gap-3">
          <div *ngFor="let option of currentQuestion?.options" class="field-checkbox pb-4 d-flex">
            <p-radioButton [inputId]="option.answerText" name="category" [value]="option"
                           [(ngModel)]="selectedOption"></p-radioButton>
            <label [for]="option.answerText" class="ml-2 answer">{{ option.answerText }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-around">
        <button
          *ngIf="currentQuestionNumber > 1"
          [disabled]="isAnimating"
          (click)="goToPreviousQuestion()"
          class="question-button"><i class="fa-solid fa-arrow-left"></i> Précédente
        </button>
        <button
          *ngIf="currentQuestionNumber < numberOfQuestions"
          [disabled]="!selectedOption || isAnimating"
          (click)="onSelectOption()"
          class="question-button">Suivante <i class="fa-solid fa-arrow-right"></i></button>
        <button
          *ngIf="(currentQuestionNumber === numberOfQuestions) && (numberOfQuestions !== questionHistory.length)"
          [disabled]="!selectedOption || isAnimating"
          (click)="calculateFinalOutcome()"
          class="validate-button">Valider <i class="fa-solid fa-check"></i></button>
      </div>
    </div>
  </div>
  <div *ngIf="showResults" [@resultAnimation]="'enter'" class="results-container">
    <div class="results-content">
      <div class="results-header">Voici quelques idées d'activités qui pourraient vous intéresser :</div>
      <div (click)="toggleDetails(activity, i)" class="result-item" *ngFor="let activity of activities; let i = index"
           [class.active]="activity.showDetails" #activityElement>
        <div class="result-title">
          {{ activity.title }}
          <i class="fa" [class.fa-chevron-right]="!activity.showDetails"
             [class.fa-chevron-down]="activity.showDetails"></i>
        </div>
        <div *ngIf="activity.showDetails">
          <img [src]="activity.image" alt="{{ activity.title }}">
          <p>{{ activity.description }}</p>
          <a [href]="activity.link" target="_blank">En savoir plus</a>
        </div>
      </div>
      <button (click)="resetQuiz()" class="reset-button">Recommencer le Quiz</button>
    </div>
  </div>
</div>
