.question, .questionNumber {
  text-align: center;
  color: #222c3d; // Couleur du texte
}

.question {
  font-size: 2em;
  font-weight: 400;
}

.questionNumber {
  color: #d4300f;
  font-size: 3.5em;
  font-weight: 600;
}

.answer {
  margin-left: 0.5em;
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
  color: #222c3d; // Couleur du texte
}

.row {
  padding-top: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.results-container {
  background-color: #ffffff; // Couleur de fond principale
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
  position: relative;
  max-height: 95vh;
  text-align: center;
}

.results-header {
  font-size: 1.5em;
  font-weight: 600;
  color: #2c3646;
  margin-bottom: 30px;
  text-align: center;
}

.result-item {
  background-color: #f8f8f8; // Couleur de fond secondaire
  border-left: 5px solid #000000; // Couleur des contours et détails
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in;
  cursor: pointer;
  border-left: 3px solid #d4300f;

  &:hover {
    transform: scale(1.03);
  }
}

.result-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 10px;
  color: #222c3d; // Couleur du texte

  .fa {
    margin-left: 10px;
  }
}

.result-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.result-item p {
  color: #222c3d; // Couleur du texte
  line-height: 1.6;
  margin-top: 10px;
  font-weight: 100;
  font-style: italic;
}

.result-item a {
  padding: 8px 15px;
  color: white; // Couleur du texte
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: #d4300f;

  &:hover {
    background-color: darken(#000000, 10%); // Assombrir la couleur au survol
  }
}

.reset-button {
  padding: 10px 20px;
  margin-top: 30px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #d4300f; // Couleur du texte du bouton
  border: 2px solid #d4300f; // Couleur des contours du bouton

  &:hover {
    background-color: #d4300f;
    color: white;
  }
}

.question, .questionNumber, .answer, .result-title, .result-item p {
  color: #777; // Couleur de texte générale
}

:host ::ng-deep .p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #d4300f, 0 1px 2px 0 rgb(0, 0, 0);
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: #d4300f !important;
  background: #d4300f !important;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 88, 60, 0.76) !important;
  border-color: #d4300f !important;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #d4300f !important;
  background: #d4300f !important;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  border-color: #dc3545 !important;
  background: #dc3545 !important;
  color: #ffffff !important;
}

:host ::ng-deep .p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight {
  background: #d4300f !important;
}

:host ::ng-deep .p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  background: #d4300f !important;
}
